.left
{
    width: 500px;
    height: auto;
    border: 5px solid red;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 40px;
    border-radius: 25px;
}
.center{
    width: 600px;
    height: auto;
    border: 5px solid red;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 40px;
    border-radius: 25px;
    margin-left: -200px;
    margin-top: 100px;
}
.right{
    position: absolute;
    width: 300px;
    height: auto;
    border: 5px solid red;
    background-color: black;
    color: white;
    display: inline-block;
    margin-left: 300px;
}